{%extends "admin.html" %}
 <!-- Navigation marker -->
{% block doctor %}active{% endblock %}
<!-- Content area-->
{% block mainbody %}

{% verbatim %}
<div id="app2" class="container">
  <div class="filter-container">
    <div class="filter-item">
      <el-button @click="onAddDoctor">Add</el-button>
    </div>
  </div>
  <div class="department-table">
    <el-table
      :data="list"
      stripe
      style="width: 100%">
      <el-table-column
        prop="id"
        label="ID"
        width="180">
      </el-table-column>
      <el-table-column
        prop="name"
        label="Name"
        width="180">
      </el-table-column>
      <el-table-column
        prop="id_card"
        label="Id card">
      </el-table-column>
      <el-table-column
        prop="department_name"
        label="Department">
      </el-table-column>
    </el-table>
  </div>

  <!-- Added Doctor popup -->
  <el-dialog title="Add doctor" :visible.sync="showAddDoctorForm">
    <el-form ref="addDoctorForm" :model="addDoctorInfo" :rules="doctorRules" label-width="80px" label-position="left">
      <el-form-item label="Name" prop="name">
        <el-input v-model="addDoctorInfo.name"/>
      </el-form-item>
      <el-form-item label="Id card" prop="id_card">
        <el-input v-model="addDoctorInfo.id_card"/>
      </el-form-item>
      <el-form-item label="Department" prop="department_id">
        <el-input v-model="addDoctorInfo.department_id"/>
      </el-form-item>
      <el-form-item label="Password" prop="password">
        <el-input v-model="addDoctorInfo.password"/>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="showAddDoctorForm = false">Cancellation</el-button>
      <el-button type="primary" @click="onSubmitAddDoctor">Determinate</el-button>
    </div>
  </el-dialog>
</div>
{% endverbatim %}
<script>
  new Vue({
    el: '#app2',
    data() {
      return {
        list: [],
        // add
        addDoctorFormType: 1,
        showAddDoctorForm: false,
        addDoctorInfo: {
          id: '',
          name: '',
          id_card: '',
          department_id: '',
          password: ''
        },
        doctorRules: {
          name: [{ required: true, message: 'Please enter your name', trigger: 'blur' }],
          id_card: [{ required: true, message: 'Please enter your ID card', trigger: 'blur' }],
          department_id: [{ required: true, message: 'Please select the department', trigger: 'change' }],
          password: [{ required: true, message: 'Please enter password', trigger: 'blur' }]
        }
      }
    },
    mounted() {
      this.getDoctorList()
    },
    methods: {
      getDoctorList() {
        // Get list
        axios.post(ToDJ('doctorList'), new URLSearchParams()).then(res => {
          if (res.data.code === 0) {
            console.log(res.data.data)
            this.list = res.data.data
          } else {
            this.NotifyFail(res.data.data)
          }
        })
      },
      // Click Add
      onAddDoctor() {
        this.addDoctorFormType = 1
        this.showAddDoctorForm = true
      },
      // Commit add
      onSubmitAddDoctor() {
        this.$refs.addDoctorForm.validate((valid) => {
          if (valid) {
            // Newly added
            if (this.addDoctorFormType === 1) {
              axios.post(ToDJ('doctorAdd'), new URLSearchParams(this.addDoctorInfo)).then(res => {
                if (res.data.code === 0) {
                  this.NotifySuc("Add successfully")
                  this.showAddDoctorForm = false
                  this.getDoctorList()
                } else {
                  this.NotifyFail(res.data.data)
                }
              })
            }
          }
        })
      },
      // Success tip
      NotifySuc(str) {
        this.$message({
          message: str,
          type: 'success'
        })
			},
      // Error prompt
			NotifyFail(str) {
        this.$message({
          message: str,
          type: 'warning'
        })
			}
    }
  })
</script>
{% endblock %}