{%extends "patient.html" %}
 <!-- Navigation marker -->
{% block order %}active{% endblock %}
<!-- Content area -->
{% block mainbody %}

{% verbatim %}
<div id="app2" class="container">
  <div class="department-table">
    <el-table
      :data="list"
      stripe
      style="width: 100%">
      <el-table-column
        prop="id"
        label="Patient number">
      </el-table-column>
      <el-table-column
        prop="department_name"
        label="Department"
        width="100">
      </el-table-column>
      <el-table-column
        prop="registration_fee"
        label="Registration fee">
      </el-table-column>
      <el-table-column
        prop="doctor_name"
        label="Doctor name">
      </el-table-column>
      <el-table-column
        prop="order_advice"
        label="Prescription">
      </el-table-column>
      <el-table-column
        prop="medicine_list"
        label="Medicine list">
        <template slot-scope="{ row }">
          <el-button v-if="row.medicine_list" type="text" @click="onShowMedicine(row)">View the list</el-button>
        </template>
      </el-table-column>
      <el-table-column
        prop="total_cost"
        label="Total cost">
      </el-table-column>
      <el-table-column
        prop="status"
        label="Status"
        :formatter="onFormatterOrderStatus">
      </el-table-column>
      <el-table-column
        prop="time"
        label="Creation time"
        width="140">
      </el-table-column>
    </el-table>
  </div>
  <!--medicineList-->
  <el-dialog title="Medicine List" :visible.sync="showMedicine" width="50%">
    <el-table
      :data="medicineList"
      style="width: 100%">
      <el-table-column
        prop="id"
        label="Id"
        align="center">
      </el-table-column>
      <el-table-column
        prop="name"
        label="Name"
        align="center">
      </el-table-column>
      <el-table-column
        prop="price"
        label="Price"
        align="center">
        <template slot-scope="{ row }">
          {{row.price}}Euro Each{{row.unit}}
        </template>
      </el-table-column>
    </el-table>
  </el-dialog>
</div>
{% endverbatim %}
<script>
  new Vue({
    el: '#app2',
    data() {
      return {
        list: [],
        userInfo: {
          user_id: ''
        },
        OrderStatusList: [
          { id: 1, name: 'Registration completed' },
          { id: 2, name: 'Interview completed' }
        ],
        // View medicine
        showMedicine: false,
        medicineList: []
      }
    },
    mounted() {
      let userInfo = window.localStorage.getItem("hospital_userInfo")
      if (userInfo) {
        userInfo = JSON.parse(userInfo)
        this.userInfo.user_id = userInfo.id
      }
      this.getOrderList()
    },
    methods: {
      getOrderList() {
        axios.post(ToDJ('orderList'), new URLSearchParams({ user_id: this.userInfo.user_id })).then(res => {
          if (res.data.code === 0) {
            const list = res.data.data
            for (const item of list) {
              item.time = this.formateTime(item.time)
            }
            this.list = list
          } else {
            this.NotifyFail(res.data.data)
          }
        })
      },
      // Patient status formatting
      onFormatterOrderStatus(row, column, callValue, index) {
        for (const item of this.OrderStatusList) {
          if (item.id === row.status) {
            return item.name
          }
        }
        return ''
      },
      // View medicine
      onShowMedicine(row) {
        const { medicine_list } = row
        axios.post(ToDJ('medicineStrList'), new URLSearchParams({ medicine_list })).then(res => {
          if (res.data.code === 0) {
            const list = res.data.data
            this.medicineList = list
            this.showMedicine = true
          } else {
            this.NotifyFail(res.data.data)
          }
        })
      },
      // Success tip
      NotifySuc(str) {
        this.$message({
          message: str,
          type: 'success'
        })
			},
      // Error prompt
			NotifyFail(str) {
        this.$message({
          message: str,
          type: 'warning'
        })
			},
      // Formatting time
      formateTime(oriDate) {
        if (!oriDate) {
          return ''
        }
        const formateDate = new Date(oriDate)
        const year =  formateDate.getFullYear()
        const month =  formateDate.getMonth() + 1
        const day = formateDate.getDate()
        let h = formateDate.getHours()
        let m = formateDate.getMinutes()
        let s = formateDate.getSeconds()
        h = h >= 10 ? h : `0${h}`
        m = m >= 10 ? m : `0${m}`
        s = s >= 10 ? s : `0${s}`
        return `${year}-${month}-${day} ${h}:${m}`
      }
    }
  })
</script>
{% endblock %}